<!DOCTYPE html>
{% load bootstrap3 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br/>
<body>
<div class="col-lg-8" style="margin-left: 50px">
    <div class="card">
        <div class="card-header">
            <h2>{{ title_header }}</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Short Description
                    </th>
                    <th>
                        date
                    </th>
                    <th>
                        URL
                    </th>
                </tr>

                </thead>
                <tbody>
                {% for article in articles %}

                    <tr>
                        <td>
                            {{ article.title }}
                        </td>
                        <td>
                            {{ article.summary }}
                        </td>
                        <td>
                            {{ article.published }}
                        </td>
                        <td>
                            {{ article.link }}
                        </td>
                    </tr>

                {% endfor %}

                </tbody>

            </table>
            <form action='{% url 'new_article' %}' method='GET'>
                <button type='submit' class="btn btn-primary"> Add New Article</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>